[submodule "Obsidian-Tasks-Calendar"]
	path = Obsidian-Tasks-Calendar
	url = https://github.com/702573N/Obsidian-Tasks-Calendar
[submodule "Obsidian-Tasks-Timeline"]
	path = Obsidian-Tasks-Timeline
	url = https://github.com/702573N/Obsidian-Tasks-Timeline
